<link href="/content/scrollview.css" type="text/css" rel="stylesheet">
<script src="/scripts/scrollview_1.js"></script>
<div class="scroll_view">
    <div class="scroll_unit" style="position: relative;">
        <img src="@Url.ImageUrl(ImageTo.Subject,1,1)" alt="">
        <div class="next_button">
            <a class="next_button_a" href="#@Resources.Subject.Subject02Title02">
                <img src="/images/parallaxscroll/next.png" alt="">
                <img class="selected" src="/images/parallaxscroll/next_selected.png" alt="">
            </a>
        </div>
    </div>
    <div class="scroll_unit"><img src="@Url.ImageUrl(ImageTo.Subject,1,2)" alt=""></div>
    <div class="scroll_unit"><img src="@Url.ImageUrl(ImageTo.Subject,1,3)" alt=""></div>
    <div class="scroll_unit"><img src="@Url.ImageUrl(ImageTo.Subject,1,4)" alt=""></div>
    <div class="scroll_unit"><img src="@Url.ImageUrl(ImageTo.Subject,1,5)" alt=""></div>
    <hr class="div_line">
    <div class="scroll_unit"><img src="@Url.ImageUrl(ImageTo.Subject,1,6)" alt=""></div>
    <ol class="scorll_nav">
        <li><a class="nav_link" href="#@Resources.Subject.Subject01Title01"><span class="dot active">1</span><span class="headline">@Resources.Subject.Subject01Title01</span></a></li>
        <li><a class="nav_link" href="#@Resources.Subject.Subject01Title02"><span class="dot">2</span><span class="headline">@Resources.Subject.Subject01Title02</span></a></li>
        <li><a class="nav_link" href="#@Resources.Subject.Subject01Title03"><span class="dot">3</span><span class="headline">@Resources.Subject.Subject01Title03</span></a></li>
        <li><a class="nav_link" href="#@Resources.Subject.Subject01Title04"><span class="dot">4</span><span class="headline">@Resources.Subject.Subject01Title04</span></a></li>
        <li><a class="nav_link" href="#@Resources.Subject.Subject01Title05"><span class="dot">5</span><span class="headline">@Resources.Subject.Subject01Title05</span></a></li>
        <li><a class="nav_link" href="#@Resources.Subject.Subject01Title06"><span class="dot">6</span><span class="headline">@Resources.Subject.Subject01Title06</span></a></li>
    </ol>
</div>