<link href="/content/scrollview.css" type="text/css" rel="stylesheet">
<script src="/scripts/scrollview.js"></script>
<div class="scroll_view">
    <div class="scroll_unit" style="position: relative;">
        <img src="@Url.ImageUrl(ImageTo.Subject,2,1)" alt="">
        <div class="next_button">
            <a class="next_button_a" href="#@Resources.Subject.Subject02Title02">
                <img src="/images/parallaxscroll/next.png" alt="">
                <img class="selected" src="/images/parallaxscroll/next_selected.png" alt="">
            </a>
        </div>
    </div>
    <div class="scroll_unit"><img src="@Url.ImageUrl(ImageTo.Subject,2,2)" alt=""></div>
    <div class="scroll_unit"><img src="@Url.ImageUrl(ImageTo.Subject,2,3)" alt=""></div>
    <div class="scroll_unit"><img src="@Url.ImageUrl(ImageTo.Subject,2,4)" alt=""></div>
    <div class="scroll_unit"><img src="@Url.ImageUrl(ImageTo.Subject,2,5)" alt=""></div>
    <div class="scroll_unit"><img src="@Url.ImageUrl(ImageTo.Subject,2,6)" alt=""></div>
    <div class="scroll_unit"><img src="@Url.ImageUrl(ImageTo.Subject,2,7)" alt=""></div>
    <hr class="div_line">
    <div class="scroll_unit"><img src="@Url.ImageUrl(ImageTo.Subject,2,8)" alt=""></div>
    <ol class="scorll_nav">
        <li><a class="nav_link" href="#@Resources.Subject.Subject02Title01"><span class="dot active">1</span><span class="headline">@Resources.Subject.Subject02Title01</span></a></li>
        <li><a class="nav_link" href="#@Resources.Subject.Subject02Title02"><span class="dot">2</span><span class="headline">@Resources.Subject.Subject02Title02</span></a></li>
        <li><a class="nav_link" href="#@Resources.Subject.Subject02Title03"><span class="dot">3</span><span class="headline">@Resources.Subject.Subject02Title03</span></a></li>
        <li><a class="nav_link" href="#@Resources.Subject.Subject02Title04"><span class="dot">4</span><span class="headline">@Resources.Subject.Subject02Title04</span></a></li>
        <li><a class="nav_link" href="#@Resources.Subject.Subject02Title05"><span class="dot">5</span><span class="headline">@Resources.Subject.Subject02Title05</span></a></li>
        <li><a class="nav_link" href="#@Resources.Subject.Subject02Title06"><span class="dot">6</span><span class="headline">@Resources.Subject.Subject02Title06</span></a></li>
        <li><a class="nav_link" href="#@Resources.Subject.Subject02Title07"><span class="dot">7</span><span class="headline">@Resources.Subject.Subject02Title07</span></a></li>
        <li><a class="nav_link" href="#@Resources.Subject.Subject02Title08"><span class="dot">8</span><span class="headline">@Resources.Subject.Subject02Title08</span></a></li>
    </ol>
</div>