<link href="/content/boxview.css" type="text/css" rel="stylesheet">
<div class="boxview">
    <div class="boxunit" style="background-image: url(/images/boxview/1.0.jpg);">
        <a href="@Url.ArticleUrl(9)" class="mask"><span class="text">@Resources.Article.Article09TitleLite</span></a>
    </div>
    <div class="boxunit" style="background-image: url(/images/boxview/2.0.jpg);">
        <a href="@Url.ArticleUrl(10)" class="mask"><p class="text">@Resources.Article.Article10TitleLite</p></a>
    </div>
    <div class="boxunit" style="background-image: url(/images/boxview/3.0.jpg);">
        <a href="@Url.ArticleUrl(11)" class="mask"><p class="text">@Resources.Article.Article11Title</p></a>
    </div>
    <div class="boxunit" style="background-image: url(/images/boxview/4.0.jpg);">
        <a href="@Url.ArticleUrl(12)" class="mask"><p class="text">@Resources.Article.Article12Title</p></a>
    </div>
</div>