<h1>@Resources.Article.Article01Title</h1>
<p class="intend">@Resources.Article.Article01P01</p>
<p class="intend">@Resources.Article.Article01P02</p>
<p class="intend">@Resources.Article.Article01P03</p>
<p class="intend">@Resources.Article.Article01P04</p>
<hr />
<h2>@Resources.Article.Article01H201</h2>
<p><strong>@Resources.Article.Article01Author01</strong></p>
<p class="intend">@Resources.Article.Article01Author01P01</p>
<p>@Resources.Article.WorkLink：@Html.QuoteWorkLink(@Resources.Article.Article01Author01WorkUrl)</p>
<hr />
<p><strong>@Resources.Article.Article01Author02</strong></p>
<p class="intend">@Resources.Article.Article01Author02P01</p>
<p class="intend">@Resources.Article.Article01Author02P02</p>
<p class="intend">@Resources.Article.Article01Author02P03</p>
<p>@Resources.Article.WorkLink：@Html.QuoteWorkLink(@Resources.Article.Article01Author02WorkUrl)</p>
<hr />
<p><strong>@Resources.Article.Article01Author03</strong></p>
<p class="intend">@Resources.Article.Article01Author03P01</p>
<p>@Resources.Article.WorkLink：@Html.QuoteWorkLink(@Resources.Article.Article01Author03WorkUrl)</p>
<hr />
<img src="/images/article/1.jpg">
<hr />
