<h1>@Resources.Article.Article03Title</h1>
<p class="intend">@Resources.Article.Article03P01</p>
<p class="intend">@Resources.Article.Article03P02</p>
<p class="intend">@Resources.Article.Article03P03</p>
<p class="intend">@Resources.Article.Article03P04</p>
<hr />
<img src="/images/article/3.jpg">
<hr />