<style>
    .article img {
        width: 50%;
    }
</style>

<h1>@Resources.Article.Article05Title</h1>
<img src="/images/article/5.png">
<p class="intend">@Resources.Article.Article05P01</p>
<p class="intend">@Resources.Article.Article05P02</p>
<p class="intend">@Resources.Article.Article05P03</p>
<p class="intend">@Resources.Article.Article05P04</p>
