<h1>@Resources.Article.Article06Title</h1>
<p class="intend">@Resources.Article.Article06P01</p>
<img class="medpic" src="/images/article/6/1.jpg">
<p class="intend">@Resources.Article.Article06P02</p>
<img class="medpic" src="/images/article/6/2.jpg">
<p class="intend">@Resources.Article.Article06P03</p>
<p class="intend">@Resources.Article.Article06P04</p>
<hr />
