<h1>@Resources.Article.Article07Title</h1>
<img class="medpic" src="/images/article/7/1.jpg">
<p class="picinfo">@Resources.Article.Article07PicInfo01</p>
<hr>
<p class="intend">@Resources.Article.Article07P01</p>
<img class="medpic" src="/images/article/7/2.jpg">
<img class="medpic" src="/images/article/7/3.jpg">
<hr>
<p class="intend">@Resources.Article.Article07P02</p>
<p class="intend">@Resources.Article.Article07P03</p>
<p class="intend">@Resources.Article.Article07P04</p>
<img class="medpic" src="/images/article/7/4.jpg">
<img class="medpic" src="/images/article/7/5.jpg">
<hr>
<p class="intend">@Resources.Article.Article07P05</p>
<hr />