<h1>@Resources.Article.Article08Title</h1>
<img class="medpic" src="/images/article/8/1.jpg">
<p class="picinfo">@Resources.Article.Article08PicInfo01</p>
<hr>
<img class="medpic" src="/images/article/8/2.jpg">
<p class="picinfo">@Resources.Article.Article08PicInfo02</p>
<hr>
<img class="medpic" src="/images/article/8/3.jpg">
<hr>
<p class="intend">@Resources.Article.Article08P01</p>
<p class="intend">@Resources.Article.Article08P02</p>
<p class="intend">@Resources.Article.Article08P03</p>
<hr />
