<h1>@Resources.Article.Article09Title</h1>
<p class="intend">@Resources.Article.Article09P01</p>
<img src="/images/article/9/1.jpg" alt="">
<p class="picinfo">@Resources.Article.Article09PicInfo01</p>
<hr>
<img src="/images/article/9/2.jpg" alt="">
<p class="picinfo">@Resources.Article.Article09PicInfo02</p>
<hr>
<img src="/images/article/9/3.jpg" alt="">
<p class="picinfo">@Resources.Article.Article09PicInfo03</p>
<hr>
<img src="/images/article/9/4.jpg" alt="">
<p class="picinfo">@Resources.Article.Article09PicInfo04</p>
<hr>
<img src="/images/article/9/5.jpg" alt="">
<p class="picinfo">@Resources.Article.Article09PicInfo05</p>
<hr>
<img src="/images/article/9/6.jpg" alt="">
<p class="picinfo">@Resources.Article.Article09PicInfo06</p>
<hr>
<img src="/images/article/9/7.jpg" alt="">
<p class="picinfo">@Resources.Article.Article09PicInfo07</p>
<hr>
<img src="/images/article/9/8.jpg" alt="">
<p class="picinfo">@Resources.Article.Article09PicInfo08</p>
<hr>
<img src="/images/article/9/9.jpg" alt="">
<p class="picinfo">@Resources.Article.Article09PicInfo09</p>
<hr>
<hr>
<h2>@Resources.Article.Article09H201</h2>
<img src="/images/article/9/10.jpg" alt="" class="medpic">
<img src="/images/article/9/11.jpg" alt="" class="medpic">