<h1>@Resources.Article.Article11Title</h1>
<h2>@Resources.Article.Article11H201</h2>
<img src="/images/article/11/1.jpg" alt="">
<hr />
<h2>@Resources.Article.Article11H202</h2>
<img src="/images/article/11/2.jpg" alt="">
<p class="picinfo">@Resources.Article.Article11PicInfo01</p>
<hr>
<img src="/images/article/11/3.jpg" alt="">
<p class="picinfo">@Resources.Article.Article11PicInfo02</p>
<hr>
<img src="/images/article/11/4.jpg" alt="">
<p class="picinfo">@Resources.Article.Article11PicInfo03</p>
<hr>
<img src="/images/article/11/5.jpg" alt="">
<p class="picinfo">@Resources.Article.Article11PicInfo04</p>
<hr>
<h2>@Resources.Article.Article11H203</h2>
<img src="/images/article/11/6.jpg" alt="">
<p class="picinfo">秋意中国 —— 许丽本、张园、周玲</p>
<hr>
<img src="/images/article/11/7.jpg" alt="">
<p class="picinfo">秋实 —— 潘海燕</p>
<hr>
<img src="/images/article/11/8.jpg" alt="">
<p class="picinfo">摄影获奖作品集锦</p>
<hr>
<img src="/images/article/11/9.jpg" alt="">
<p class="picinfo">教师作品</p>
<hr>
<img src="/images/article/11/10.jpg" alt="">
<p class="picinfo">左：秋之韵 —— 凌心慈，中：秋韵·执子之手 —— 邹金雅、黄敏敏，右：书法 —— 江佚名</p>
<hr>

