<h1>@Resources.Article.Article12Title</h1>
<p class="picinfo">@Resources.Article.Article12PicInfo01</p>
<p class="intend">@Resources.Article.Article12P01</p>
<p class="intend">@Resources.Article.Article12P02</p>
<p class="intend">@Resources.Article.Article12P03</p>
<p class="intend">@Resources.Article.Article12P04</p>
<p class="intend">@Resources.Article.Article12P05</p>