@{
    ViewBag.Title = @Resources.About.Title;
    Layout = "~/Views/Shared/_WebTemplate.cshtml";
}

@section styles{
    <link href="/content/article.css" type="text/css" rel="stylesheet">
}

<h1>@Resources.About.Title</h1>
<p class="picinfo">@Resources.About.Para01</p>
<p class="intend">@Resources.About.Para01</p>
<p class="intend">@Resources.About.Para02</p>
<p class="intend">@Resources.About.Para03</p>
<p class="intend">@Resources.About.Para04</p>
<p class="intend">@Resources.About.Para05</p>