<h1>@Resources.Article.Article02Title</h1>
<p class="intend">@Resources.Article.Article02P01</p>
<p class="intend">@Resources.Article.Article02P02</p>
<p class="intend">@Resources.Article.Article02P03</p>
<p>@Resources.Article.Article02P04</p>
<p class="intend">@Resources.Article.Article02P05</p>
<p class="intend">@Resources.Article.Article02P06</p>
<p class="intend">@Resources.Article.Article02P07</p>
<p class="intend">@Resources.Article.Article02P08</p>
<hr />
<img src="/images/article/2.jpg">
<hr />
